/* Ajoutez ici vos styles spécifiques pour la page aide.html */
@font-face {
    font-family: 'CustomFont';
    src: url('wg.otf') format('opentype');
}

body {
    background: url('wg_bg_aide.png') no-repeat center center fixed; /* Définir l'image d'arrière-plan */
    background-size: cover; /* Couvrir toute la page */
    color: #e0e0e0; /* Texte clair pour un bon contraste */
    font-family: Arial, sans-serif;
    position: relative; /* Pour positionner l'image de fond */
}

h1 {
    margin-top: 15px; /* Réduire l'espace au-dessus du titre */
    margin-bottom: 6px; /* Réduire l'espace en-dessous du titre */
    font-size: 4em; /* Agrandir le texte */
    color: #28a745; /* Couleur verte pour le titre */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'CustomFont', sans-serif; /* Utilisation de la police personnalisée */
    letter-spacing: 2px; /* Espacer un tout petit peu les lettres */
}

p {
    color: #b0b0b0; /* Couleur grise pour le texte */
}

/* Conteneur de recherche */
.search-container {
    position: absolute;
    top: 100px; /* Descendre le champ de recherche */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

#filmSearchInput {
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid #28a745;
    outline: none;
    transition: border-color 0.3s ease;
}

#filmSearchInput:focus {
    border-color: #218838; /* Bordure plus foncée au focus */
}

#filmSearchBtn {
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#filmSearchBtn:hover {
    background-color: #218838; /* Changer la couleur du bouton au survol */
}